
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;    
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.7);
}
.cards{
    width: 100%;
    height: 500px;
    background-color: #1e1e1e;
    box-shadow: 0 10px 30px 30px rgb(0,0,0,);
    display: flex;
    justify-content: space-around;
    align-items: center;


    .card{
        width: 15%;
        height: 320px;
        font-family: 'Roboto', sans-serif;
        position: relative;
        transform-style: preserve-3d;
        perspective: 1000px;
        transition: transform 1s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        cursor: pointer;

        .card__front{
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            position: relative;
            z-index: 1;

            .card__image{
                width: 100%;
                height: 100%;
                border-radius: 5px;                
            }
            .card__name{
                position: absolute;
                bottom: 20px;
                left: 10px;
                font-size: 1rem;
                color:rgb(255, 255, 26);
            }
            .card__year{
                color:rgb(255, 255, 26);
                position: absolute;
                bottom: 2px;
                left: 10px;
                color: #f5f3f3;
            }
            .card__impb{
                background-color:rgb(255, 255, 85);
                padding: 4px 7px;
                font-weight: 400;
                border-radius: 5px;
                position: absolute;
                right: 5px;
                top: 5px;
            }
            .card__quality{
                color: rgb(255, 255, 26);
                font-weight: 700;
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }

        .card__back{
            width: 100%;
            height: 320px;
            padding: 10px;
            background-color: #f5f3f3;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            transform: rotateY(180deg);
            border-radius: 5px;

            .back__title{
                padding: 10px;
                text-align: center;
                color: rgb(61, 61, 41);
               
            }
            .card__info{
                text-align: center;
                font-style: italic;
                color: rgb(153, 153, 102)
            }
        }
    }
    
    .card:hover{
        transform: rotateY(180deg);
    }

}